@import "tailwindcss";

body {
  background-image: url("/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  min-height: 100dvh;
}

@font-face {
  font-family: "MapoDPPA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDPPA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
